* {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-weight: 500;
}

h1 {
  font-weight: bold;
}



::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  border-left: 3px solid black;
}

::-webkit-scrollbar-thumb {
  background: #58FD34;
  border-left: 3px solid black;
}




#burn-modal {
  text-align: center;
}

.modal-header {
  background-color: black;
  color: white;
  text-align: center;
}

.modal-title {
  width: 100%;
}

.modal-header {
  padding: 0;
}

.modal-content {
  min-height: 300px;
}

.modal-main-text {
  margin-bottom: 50px;
  margin-top: 50px;
}

.modal-header .close {
  background-color: #58FD34;
  opacity: 1;
  font-weight: 100;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}


.burn-button {
  font-size: 34px;
  font-style: italic;
  padding: 10px;
  border: 3px solid black;
  border-radius: 0;
  width: 50%;
  padding: 0;
}

#burn-eth-button {
  position: relative;
  top: 50px;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}

.burn-button:active {
  background-color: black;
}

.lime {
  background-color: #58FD34;
  color: black;
}

.col-contents {
  border-bottom: 3px solid black;
  padding: 5px;
  text-align: center;
}

.col-contents.last {
  border-bottom: none;
}

.burn p {
  margin-bottom: 3px;
}

.inner {
  border: 3px solid black;
  height: 100vh;
  overflow: auto;
}

.col-title {
  border-bottom: 3px solid black;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  text-align: center;
}

#eth-rip-title {
  background-color: #58FD34;
  color: black;
  text-align: left;
  padding: 10px;
}
